* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  

  .gallery {
    background: rgb(46, 71, 79);
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: rgb(121, 121, 121);
    counter-increment: gallery-cell;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;    
  }
  
  /* cell number */
  .gallery-cell:before {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;    
    /*content: counter(gallery-cell);*/
  }
  
  .centre{

    font-size: 30px;
  }